@import url(https://fonts.googleapis.com/css?family=Inter:regular,700);
@import url(https://fonts.googleapis.com/css?family=Merriweather:regular,700);

body {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #ffffff;
  width: 1440px;
  height: 100%;
  margin: 0 auto;
  background-color: #f2e9d8;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 1440px;
  min-height: 100%;
  margin: 0 auto;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  display: flex;
  background-color: #363940;
  width: 1440px;
  height: 70px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  align-items: center;
}

.nav-button {
  height: 30px;
  width: 60px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  background-color: #363940;
  border: 2px solid #d9d0bf;
  color: #d9d0bf;
  font-size: 15px;
}

.nav-button:hover {
  color: #ffffff;
}

.enter {
  display: flex;
  align-items: center;
  gap: 25px;
}

.enter-button {
  height: 35px;
  width: 70px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  background-color: #363940;
  border: 2px solid #d9d0bf;
  color: #d9d0bf;
  font-size: 15px;
}

.enter-button:hover {
  color: #ffffff;
}

.header-logo {
  width: 50px;
  height: 40px;
  display: block;
  filter: invert(91%) sepia(2%) saturate(1346%) hue-rotate(2deg) brightness(95%)
    contrast(86%);
  margin: 20px 0px;
  background: url("./assets/svg/logo.svg") no-repeat;
}

.header-logo:hover {
  filter: invert(99%) sepia(0%) saturate(2%) hue-rotate(317deg) brightness(117%)
    contrast(100%);
}

main {
  padding-bottom: 60px;
}

.main-container {
  display: flex;
  justify-content: flex-start;
}

.calendar-header {
  text-align: center;
  font-size: 15px;
  color: #363940;
  height: 10px;
  margin: 5px;
}

.calendar-hr {
  border-width: 1px;
  border-color: #363940;
}

.aside {
  padding-top: 30px;
  width: 300px;
  height: calc(100vh - 120px);
  background-color: #d9d0bf;
}

.aside-button {
  color: #363940;
  height: 40px;
  width: 250px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  background-color: #363940;
  border: 2px solid #d9d0bf;
  color: #d9d0bf;
  font-size: 15px;
}

.aside-button:hover {
  color: #ffffff;
}

.themes {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.themes-title {
  font-size: 15px;
  color: #363940;
  height: 10px;
  margin: 2px;
}

.add-theme-btn {
  border: 1px solid #363940;
  background-color: #f2e9d8;
  width: 25px;
  height: 25px;
}

.add-theme-btn:hover {
  color: #ffffff;
  background-color: #363940;
}

.calendar-container {
  width: 100%;
}

.calendar-nav {
  display: flex;
  flex-direction: row;
  gap: 15px;
  height: 22px;
  justify-content: center;
  align-items: center;
}

.calendar-nav-btn {
  margin-top: 10px;
  width: 25px;
  height: 25px;
  border: 1px solid #363940;
  background-color: #f2e9d8;
}

.calendar-nav-btn:hover {
  color: #ffffff;
  background-color: #363940;
}

.days {
  display: flex;
  justify-content: space-between;
}

.calendar-table {
  table-layout: fixed;
  border-collapse: collapse;
  border: 2px solid #363940;
  width: 100%;
  color: #363940;
}

.footer {
  display: flex;
  background-color: #363940;
  width: 1440px;
  height: 50px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.footer-container {
  display: flex;
  padding: 15px;
  align-items: center;
  gap: 25px;
}

.footer-text {
  color: #d9d0bf;
}

.footer-link {
  text-decoration: none;
  color: #d9d0bf;
}

.footer-link:hover {
  color: #ffffff;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup-area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup-body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px, 10px;
}

.popup-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  background-color: #f2e9d8;
  color: #000000;
  max-width: 800px;
  min-width: 400px;
  padding: 30px;
  position: relative;
}

.popup-close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
}

.popup-input {
  font-size: 20px;
  width: 100%;
  height: 25px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
}

.popup-button {
  height: 35px;
  width: 150px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  background-color: #d9d0bf;
  border: 2px solid #363940;
  color: #363940;
  font-size: 20px;
}

.popup-button:hover {
  color: #ffffff;
}

.date {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
